{ "script":  "/home/{{ default_user.dev_user }}/script/baikonur",
  "data": 	 "/home/{{ default_user.dev_user }}/data/baikonur",
  "log": 	 "/home/{{ default_user.dev_user }}/log/baikonur",
  "ansible": "/home/{{ default_user.dev_user }}/script/ansible"
}